<div class="main-content">
    <div class="alert alert-dange ajax-error" role="alert"><span style="font-weight: bold; font-size: 18px;">Thông
            báo!</span><br>

        <div class="ajax-error-ct"></div>
    </div>
    <div class="alert ajax-success" role="alert"
        style="width: 350px;background: rgba(92,130,79,0.9); display:none; color: #fff;" data-original-title=""
        title=""><span style="font-weight: bold; font-size: 18px;">Thông báo!</span>
        <br>

        <div class="ajax-success-ct"></div>
    </div>
    <!-- Start create employee -->
    <div class="modal fade" id="create-nv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-transform: uppercase;"><i
                            class="fa fa-user"></i>
                        Thêm tài khoản đăng nhập </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="frm-cruser">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="tennhanvien">Tên nhân viên</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="display_name" name="display_name" class="form-control" value=""
                                    placeholder="Nhập tên nhân viên">
                                <span style="color: red; font-style: italic;" class="error error-display_name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="manv">Mã nhân viên</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="manv" name="manv" class="form-control" value=""
                                    placeholder="Nhập mã nhân viên">
                                <span style="color: red; font-style: italic;" class="error error-manv"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="manv">Email</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="mail" name="email" class="form-control" value=""
                                    placeholder="Nhập email của bạn">
                                <span style="color: red; font-style: italic;" class="error error-mail"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="commission">Hệ số thưởng</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="commission" name="commission" class="form-control txtNumber"
                                    value="" placeholder="Nhập % hoa hồng ( hệ số thưởng)">
                                <span style="color: red; font-style: italic;" class="error error-commission"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="manv">Mật khẩu</label>
                            </div>
                            <div class="col-md-9">
                                <input type="password" id="password" name="password" class="form-control" value=""
                                    placeholder="Nhập Mật khẩu">
                                <span style="color: red; font-style: italic;" class="error error-password"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 padd-right-0">
                                <label for="manv">Nhóm người dùng</label>
                            </div>
                            <div class="col-md-9">
                                <div class="group-user">
                                    <div class="group-selbox">
                                        <select name="group" id="sel-group" class="form-control">
                                        </select>
                                    </div>
                                    <span style="color: red; font-style: italic;" class="error error-group"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="stock">Kho làm việc</label>
                            </div>
                            <div class="col-md-9">
                                <div class="stock-selbox"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-primary btn-sm btn-crnv" onclick="cms_cruser()"><i
                            class="fa fa-check"></i> Lưu
                    </button>
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- end create employee -->

    <!-- Start create function -->
    <div class="modal fade" id="create-func" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-transform: uppercase;"><i
                            class="fa fa-user"></i>
                        Thêm Chức năng </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="tennhanvien">URL</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="permisstion_url" name="permisstion_url" class="form-control"
                                    value="" placeholder="Nhập url cho phép của chức năng">
                                <span style="color: red; font-style: italic;"
                                    class="error error-permisstion_url"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="manv">Tên chức năng</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="permisstion_name" name="permisstion_name" class="form-control"
                                    value="" placeholder="Nhập tên chức năng">
                                <span style="color: red; font-style: italic;"
                                    class="error error-permisstion_name"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-primary btn-sm btn-crfunc"><i class="fa fa-check"></i> Lưu
                    </button>
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-transform: uppercase;"><i
                            class="fa fa-user"></i>
                        Thêm nhóm người dùng </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="group-name">Tên Nhóm</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="group-name" name="group_name" class="form-control" value=""
                                    placeholder="Nhập tên nhóm người dùng">
                                <span style="color: red; font-style: italic;" class="error error-group_name"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-primary btn-sm btn-crgroup"><i class="fa fa-check"></i>
                        Lưu
                    </button>
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create-store" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-transform: uppercase;"><i
                            class="fa fa-user"></i>
                        Thêm kho </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="group-name">Tên Kho</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="store-name" name="store_name" class="form-control" value=""
                                    placeholder="Nhập tên kho">
                                <span style="color: red; font-style: italic;" class="error error-store_name"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-primary btn-sm" onclick="cms_crstore();"><i
                            class="fa fa-check"></i> Lưu
                    </button>
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- start create customer -->

    <div class="modal fade" id="create-cust" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tạo mới khách hàng</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="frm-crcust">
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_group">Nhóm KH</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <select id="customer_group" class="form-control">
                                    <option value="0">Khách lẻ</option>
                                    <option value="1">Khách sỉ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_code">Mã KH</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_code" name="customer_code" class="form-control" value=""
                                    placeholder="Mã khách hàng(tự sinh nếu bỏ trống)">
                                <span style="color: red; font-style: italic;" class="error error-customer_code"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_name">Tên KH</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_name" name="customer_name" class="form-control" value=""
                                    placeholder="Nhập tên khách hàng (bắt buộc)">
                                <span style="color: red; font-style: italic;" class="error error-customer_name"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_phone">Điện thoại</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_phone" name="customer_phone" class="form-control"
                                    value="" placeholder="Nhập số điện thoại">
                                <span style="color: red; font-style: italic;" class="error error-customer_phone"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_email">Email</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_email" name="customer_email" class="form-control"
                                    value="" placeholder="Nhập email khách hàng ( ví dụ: kh10@gmail.com )">
                                <span style="color: red; font-style: italic;" class="error error-customer_email"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_tax">Mã số thuế</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_tax" name="customer_tax" class="form-control" value=""
                                    placeholder="Nhập mã số thuế khách hàng">
                                <span style="color: red; font-style: italic;" class="error error-customer_tax"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_province_modal">Tỉnh/Tp</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <select id="customer_province_modal" onchange="cms_change_province()"
                                    style="width: 100% !important;"
                                    class="form-control province select2-hidden-accessible"
                                    data-select2-id="customer_province_modal" tabindex="-1" aria-hidden="true">
                                    <option value="-1" data-select2-id="2">Chọn tỉnh/ thành phố</option>
                                    <option value="1">Thành phố Hà Nội</option>
                                    <option value="2">Tỉnh Hà Giang</option>
                                    <option value="4">Tỉnh Cao Bằng</option>
                                    <option value="6">Tỉnh Bắc Kạn</option>
                                    <option value="8">Tỉnh Tuyên Quang</option>
                                    <option value="10">Tỉnh Lào Cai</option>
                                    <option value="11">Tỉnh Điện Biên</option>
                                    <option value="12">Tỉnh Lai Châu</option>
                                    <option value="14">Tỉnh Sơn La</option>
                                    <option value="15">Tỉnh Yên Bái</option>
                                    <option value="17">Tỉnh Hoà Bình</option>
                                    <option value="19">Tỉnh Thái Nguyên</option>
                                    <option value="20">Tỉnh Lạng Sơn</option>
                                    <option value="22">Tỉnh Quảng Ninh</option>
                                    <option value="24">Tỉnh Bắc Giang</option>
                                    <option value="25">Tỉnh Phú Thọ</option>
                                    <option value="26">Tỉnh Vĩnh Phúc</option>
                                    <option value="27">Tỉnh Bắc Ninh</option>
                                    <option value="30">Tỉnh Hải Dương</option>
                                    <option value="31">Thành phố Hải Phòng</option>
                                    <option value="33">Tỉnh Hưng Yên</option>
                                    <option value="34">Tỉnh Thái Bình</option>
                                    <option value="35">Tỉnh Hà Nam</option>
                                    <option value="36">Tỉnh Nam Định</option>
                                    <option value="37">Tỉnh Ninh Bình</option>
                                    <option value="38">Tỉnh Thanh Hóa</option>
                                    <option value="40">Tỉnh Nghệ An</option>
                                    <option value="42">Tỉnh Hà Tĩnh</option>
                                    <option value="44">Tỉnh Quảng Bình</option>
                                    <option value="45">Tỉnh Quảng Trị</option>
                                    <option value="46">Tỉnh Thừa Thiên Huế</option>
                                    <option value="48">Thành phố Đà Nẵng</option>
                                    <option value="49">Tỉnh Quảng Nam</option>
                                    <option value="51">Tỉnh Quảng Ngãi</option>
                                    <option value="52">Tỉnh Bình Định</option>
                                    <option value="54">Tỉnh Phú Yên</option>
                                    <option value="56">Tỉnh Khánh Hòa</option>
                                    <option value="58">Tỉnh Ninh Thuận</option>
                                    <option value="60">Tỉnh Bình Thuận</option>
                                    <option value="62">Tỉnh Kon Tum</option>
                                    <option value="64">Tỉnh Gia Lai</option>
                                    <option value="66">Tỉnh Đắk Lắk</option>
                                    <option value="67">Tỉnh Đắk Nông</option>
                                    <option value="68">Tỉnh Lâm Đồng</option>
                                    <option value="70">Tỉnh Bình Phước</option>
                                    <option value="72">Tỉnh Tây Ninh</option>
                                    <option value="74">Tỉnh Bình Dương</option>
                                    <option value="75">Tỉnh Đồng Nai</option>
                                    <option value="77">Tỉnh Bà Rịa - Vũng Tàu</option>
                                    <option value="79">Thành phố Hồ Chí Minh</option>
                                    <option value="80">Tỉnh Long An</option>
                                    <option value="82">Tỉnh Tiền Giang</option>
                                    <option value="83">Tỉnh Bến Tre</option>
                                    <option value="84">Tỉnh Trà Vinh</option>
                                    <option value="86">Tỉnh Vĩnh Long</option>
                                    <option value="87">Tỉnh Đồng Tháp</option>
                                    <option value="89">Tỉnh An Giang</option>
                                    <option value="91">Tỉnh Kiên Giang</option>
                                    <option value="92">Thành phố Cần Thơ</option>
                                    <option value="93">Tỉnh Hậu Giang</option>
                                    <option value="94">Tỉnh Sóc Trăng</option>
                                    <option value="95">Tỉnh Bạc Liêu</option>
                                    <option value="96">Tỉnh Cà Mau</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                    data-select2-id="1" style="width: 100%;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                                            aria-labelledby="select2-customer_province_modal-container"><span
                                                class="select2-selection__rendered"
                                                id="select2-customer_province_modal-container" role="textbox"
                                                aria-readonly="true" title="Chọn tỉnh/ thành phố">Chọn tỉnh/ thành
                                                phố</span><span class="select2-selection__arrow" role="presentation"><b
                                                    role="presentation"></b></span></span></span><span
                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_district_modal">Quận/Huyện</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <select id="customer_district_modal" onchange="cms_change_district()"
                                    style="width: 100% !important;"
                                    class="form-control district select2-hidden-accessible"
                                    data-select2-id="customer_district_modal" tabindex="-1" aria-hidden="true">
                                    <option value="0" data-select2-id="4">Chọn Quận/Huyện</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                    data-select2-id="3" style="width: 100%;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                                            aria-labelledby="select2-customer_district_modal-container"><span
                                                class="select2-selection__rendered"
                                                id="select2-customer_district_modal-container" role="textbox"
                                                aria-readonly="true" title="Chọn Quận/Huyện">Chọn Quận/Huyện</span><span
                                                class="select2-selection__arrow" role="presentation"><b
                                                    role="presentation"></b></span></span></span><span
                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_ward_modal">Phường/Xã</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <select id="customer_ward_modal" style="width: 100% !important;"
                                    class="form-control ward select2-hidden-accessible"
                                    data-select2-id="customer_ward_modal" tabindex="-1" aria-hidden="true">
                                    <option value="0" data-select2-id="6">Chọn Xã/Phường</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                    data-select2-id="5" style="width: 100%;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                                            aria-labelledby="select2-customer_ward_modal-container"><span
                                                class="select2-selection__rendered"
                                                id="select2-customer_ward_modal-container" role="textbox"
                                                aria-readonly="true" title="Chọn Xã/Phường">Chọn Xã/Phường</span><span
                                                class="select2-selection__arrow" role="presentation"><b
                                                    role="presentation"></b></span></span></span><span
                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_addr">Địa chỉ</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_addr" name="customer_addr" class="form-control" value=""
                                    placeholder="Nhập địa chỉ">
                                <span style="color: red; font-style: italic;" class="error error-customer_addr"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_addr">Bản đồ</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_map" name="customer_map" class="form-control" value=""
                                    placeholder="Nhập bản đồ">
                                <span style="color: red; font-style: italic;" class="error error-customer_addr"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_notes">Ghi chú</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_notes" name="customer_notes" class="form-control"
                                    value="" placeholder="Nhập ghi chú">
                                <span style="color: red; font-style: italic;" class="error error-customer_notes"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_birthday">Ngày sinh</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="customer_birthday" name="customer_birthday"
                                    class="form-control txttimes" value="" placeholder="yyyy-mm-dd">
                                <span style="color: red;" class="error error-customer_birthday"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_gender">Giới tính</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="radio" name="gender" checked="" class="customer_gender" value="0"> Nam
                                <input type="radio" name="gender" class="customer_gender" value="1"> Nữ
                                <span style="color: red; font-style: italic;"
                                    class="error error-customer_gender"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="customer_gender">Nợ</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="is_customer_debt" name="is_customer_debt"
                                    class="txtMoney form-control" value="" placeholder="Khách hàng đang nợ">
                                <span style="color: red; font-style: italic;" class="error error-customer_debt"></span>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12" style="margin-top: 18px;">
                            <div class="jumbotron text-center" id="img_upload"
                                style="border-radius: 0; margin-bottom: 10px; padding: 5px 20px;">
                                <h4>Upload hình ảnh</h4>

                                <center>
                                    <div id="customer_img_preview" style="display: none;"></div>
                                    <form id="customer_image_upload_form" method="post" enctype="multipart/form-data"
                                        action="product/upload_img" autocomplete="off">
                                        <div class="file_input_container">
                                            <div class="upload_button"><input type="file" name="photo"
                                                    id="customer_photo" class="file_input"></div>
                                        </div>

                                    </form>
                                </center>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-primary btn-sm btn-crcust" onclick="cms_crCustomer();"><i
                            class="fa fa-check"></i> Lưu
                    </button>
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- end customer -->

    <!-- start create supplier -->

    <div class="modal fade" id="create-sup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tạo mới nhà cung cấp</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="frm-crsup">

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_name">Mã nhà cung cấp</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="supplier_code" name="supplier_code" class="form-control" value=""
                                    placeholder="Mã nhà cung cấp (Tự sinh nếu bỏ trống)">
                                <span style="color: red; font-style: italic;" class="error error-supplier_code"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_name">Tên nhà cung cấp</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="supplier_name" name="supplier_name" class="form-control" value=""
                                    placeholder="Nhập tên nhà cung cấp (bắt buộc)">
                                <span style="color: red; font-style: italic;" class="error error-supplier_name"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_phone">Điện thoại</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="supplier_phone" name="supplier_phone" class="form-control"
                                    value="" placeholder="Nhập số điện thoại">
                                <span style="color: red; font-style: italic;" class="error error-supplier_phone"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_email">Email</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="supplier_email" name="supplier_email" class="form-control"
                                    value="" placeholder="Nhập email nhà cung cấp ( ví dụ: kh10@gmail.com )">
                                <span style="color: red; font-style: italic;" class="error error-supplier_email"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_tax">Mã số thuế</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="supplier_tax" name="supplier_tax" class="form-control" value=""
                                    placeholder="Nhập mã số thuế">
                                <span style="color: red; font-style: italic;" class="error error-supplier_tax"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_province_modal">Tỉnh/Tp</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <select id="supplier_province_modal" onchange="cms_s_change_province()"
                                    style="width: 100%" class="form-control province select2-hidden-accessible"
                                    data-select2-id="supplier_province_modal" tabindex="-1" aria-hidden="true">
                                    <option value="-1" data-select2-id="8">Chọn tỉnh/ thành phố</option>
                                    <option value="1">Thành phố Hà Nội</option>
                                    <option value="2">Tỉnh Hà Giang</option>
                                    <option value="4">Tỉnh Cao Bằng</option>
                                    <option value="6">Tỉnh Bắc Kạn</option>
                                    <option value="8">Tỉnh Tuyên Quang</option>
                                    <option value="10">Tỉnh Lào Cai</option>
                                    <option value="11">Tỉnh Điện Biên</option>
                                    <option value="12">Tỉnh Lai Châu</option>
                                    <option value="14">Tỉnh Sơn La</option>
                                    <option value="15">Tỉnh Yên Bái</option>
                                    <option value="17">Tỉnh Hoà Bình</option>
                                    <option value="19">Tỉnh Thái Nguyên</option>
                                    <option value="20">Tỉnh Lạng Sơn</option>
                                    <option value="22">Tỉnh Quảng Ninh</option>
                                    <option value="24">Tỉnh Bắc Giang</option>
                                    <option value="25">Tỉnh Phú Thọ</option>
                                    <option value="26">Tỉnh Vĩnh Phúc</option>
                                    <option value="27">Tỉnh Bắc Ninh</option>
                                    <option value="30">Tỉnh Hải Dương</option>
                                    <option value="31">Thành phố Hải Phòng</option>
                                    <option value="33">Tỉnh Hưng Yên</option>
                                    <option value="34">Tỉnh Thái Bình</option>
                                    <option value="35">Tỉnh Hà Nam</option>
                                    <option value="36">Tỉnh Nam Định</option>
                                    <option value="37">Tỉnh Ninh Bình</option>
                                    <option value="38">Tỉnh Thanh Hóa</option>
                                    <option value="40">Tỉnh Nghệ An</option>
                                    <option value="42">Tỉnh Hà Tĩnh</option>
                                    <option value="44">Tỉnh Quảng Bình</option>
                                    <option value="45">Tỉnh Quảng Trị</option>
                                    <option value="46">Tỉnh Thừa Thiên Huế</option>
                                    <option value="48">Thành phố Đà Nẵng</option>
                                    <option value="49">Tỉnh Quảng Nam</option>
                                    <option value="51">Tỉnh Quảng Ngãi</option>
                                    <option value="52">Tỉnh Bình Định</option>
                                    <option value="54">Tỉnh Phú Yên</option>
                                    <option value="56">Tỉnh Khánh Hòa</option>
                                    <option value="58">Tỉnh Ninh Thuận</option>
                                    <option value="60">Tỉnh Bình Thuận</option>
                                    <option value="62">Tỉnh Kon Tum</option>
                                    <option value="64">Tỉnh Gia Lai</option>
                                    <option value="66">Tỉnh Đắk Lắk</option>
                                    <option value="67">Tỉnh Đắk Nông</option>
                                    <option value="68">Tỉnh Lâm Đồng</option>
                                    <option value="70">Tỉnh Bình Phước</option>
                                    <option value="72">Tỉnh Tây Ninh</option>
                                    <option value="74">Tỉnh Bình Dương</option>
                                    <option value="75">Tỉnh Đồng Nai</option>
                                    <option value="77">Tỉnh Bà Rịa - Vũng Tàu</option>
                                    <option value="79">Thành phố Hồ Chí Minh</option>
                                    <option value="80">Tỉnh Long An</option>
                                    <option value="82">Tỉnh Tiền Giang</option>
                                    <option value="83">Tỉnh Bến Tre</option>
                                    <option value="84">Tỉnh Trà Vinh</option>
                                    <option value="86">Tỉnh Vĩnh Long</option>
                                    <option value="87">Tỉnh Đồng Tháp</option>
                                    <option value="89">Tỉnh An Giang</option>
                                    <option value="91">Tỉnh Kiên Giang</option>
                                    <option value="92">Thành phố Cần Thơ</option>
                                    <option value="93">Tỉnh Hậu Giang</option>
                                    <option value="94">Tỉnh Sóc Trăng</option>
                                    <option value="95">Tỉnh Bạc Liêu</option>
                                    <option value="96">Tỉnh Cà Mau</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                    data-select2-id="7" style="width: 100%;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                                            aria-labelledby="select2-supplier_province_modal-container"><span
                                                class="select2-selection__rendered"
                                                id="select2-supplier_province_modal-container" role="textbox"
                                                aria-readonly="true" title="Chọn tỉnh/ thành phố">Chọn tỉnh/ thành
                                                phố</span><span class="select2-selection__arrow" role="presentation"><b
                                                    role="presentation"></b></span></span></span><span
                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_district_modal">Quận/Huyện</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <select id="supplier_district_modal" onchange="cms_s_change_district()"
                                    style="width: 100%" class="form-control district select2-hidden-accessible"
                                    data-select2-id="supplier_district_modal" tabindex="-1" aria-hidden="true">
                                    <option value="0" data-select2-id="10">Chọn Quận/Huyện</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                    data-select2-id="9" style="width: 100%;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                                            aria-labelledby="select2-supplier_district_modal-container"><span
                                                class="select2-selection__rendered"
                                                id="select2-supplier_district_modal-container" role="textbox"
                                                aria-readonly="true" title="Chọn Quận/Huyện">Chọn Quận/Huyện</span><span
                                                class="select2-selection__arrow" role="presentation"><b
                                                    role="presentation"></b></span></span></span><span
                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_ward_modal">Phường/Xã</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <select id="supplier_ward_modal" style="width: 100%"
                                    class="form-control ward select2-hidden-accessible"
                                    data-select2-id="supplier_ward_modal" tabindex="-1" aria-hidden="true">
                                    <option value="0" data-select2-id="12">Chọn Xã/Phường</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                    data-select2-id="11" style="width: 100%;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                                            aria-labelledby="select2-supplier_ward_modal-container"><span
                                                class="select2-selection__rendered"
                                                id="select2-supplier_ward_modal-container" role="textbox"
                                                aria-readonly="true" title="Chọn Xã/Phường">Chọn Xã/Phường</span><span
                                                class="select2-selection__arrow" role="presentation"><b
                                                    role="presentation"></b></span></span></span><span
                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_addr">Địa chỉ</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="supplier_addr" name="supplier_addr" class="form-control" value=""
                                    placeholder="Nhập địa chỉ">
                                <span style="color: red; font-style: italic;" class="error error-supplier_addr"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="supplier_notes">Ghi chú</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="supplier_notes" name="notes" class="form-control" value=""
                                    placeholder="Nhập ghi chú">
                                <span style="color: red; font-style: italic;" class="error error-supplier_notes"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 padd-0" style="margin-top: 18px;">
                            <div class="col-md-3 col-xs-5">
                                <label for="is_supplier_debt">Nợ</label>
                            </div>
                            <div class="col-md-9 col-xs-7 padd-0">
                                <input type="text" id="is_supplier_debt" name="is_supplier_debt"
                                    class="form-control txtMoney" value="" placeholder="Đang nợ nhà cung cấp">
                                <span style="color: red; font-style: italic;" class="error error-supplier_debt"></span>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12" style="margin-top: 18px;">
                            <div class="jumbotron text-center" id="img_upload"
                                style="border-radius: 0; margin-bottom: 10px; padding: 15px 20px;">
                                <h3>Upload hình ảnh</h3>
                                <small style="font-size: 14px; margin-bottom: 5px; display: inline-block;">(Kích thướt
                                    tối đa 10MB)
                                </small>
                                <p>
                                </p>
                                <center>
                                    <div id="supplier_img_preview" style="display: none;"></div>
                                    <form id="supplier_image_upload_form" method="post" enctype="multipart/form-data"
                                        action="product/upload_img" autocomplete="off">
                                        <div class="file_input_container">
                                            <div class="upload_button"><input type="file" name="photo"
                                                    id="supplier_photo" class="file_input"></div>
                                        </div>

                                    </form>
                                </center>
                                <p></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-primary btn-sm btn-crsup" onclick="cms_crsup();"><i
                            class="fa fa-check"></i> Lưu
                    </button>
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="list-prd-manufacture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Quản lý nhà sản xuất</h4>
                </div>
                <div class="modal-body">
                    <div class="tabtable">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-setting" role="tablist"
                            style="background-color: #EFF3F8; padding: 5px 0 0 15px;">
                            <li role="presentation" class="active list-manufacture-click" style="margin-right: 3px;"><a
                                    href="#list-manufacture" aria-controls="list-manufacture" role="tab"
                                    data-toggle="tab"><i class="fa fa-list"></i> Danh sách Nhà sản xuất</a></li>
                            <li role="presentation"><a href="#create-manufacture" aria-controls="create-manufacture"
                                    role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Tạo mới nhà
                                    sản xuất
                                </a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="padding:10px; border: 1px solid #ddd; border-top: none;">
                            <div role="tabpanel" class="tab-pane active" id="list-manufacture">
                                <div class="prd_manufacture-body">

                                </div>
                            </div>

                            <!-- Tab Function -->
                            <div role="tabpanel" class="tab-pane" id="create-manufacture">
                                <div class="row form-horizontal">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="col-md-7">
                                                <input type="text" style="border-radius: 0 !important;"
                                                    class="form-control" id="prd_manuf_name" value=""
                                                    placeholder="Nhập tên Nhà sản xuất">
                                            </div>
                                            <div class="input-groups-btn col-md-5">
                                                <button type="button" class="save btn btn-primary"
                                                    style="border-radius: 0 3px 3px 0;"
                                                    onclick="cms_create_manufacture(1);"><i class="fa fa-check"></i> Lưu
                                                </button>
                                                <button type="button" class="save btn btn-primary"
                                                    onclick="cms_create_manufacture(0);"><i class="fa fa-floppy-o"></i>
                                                    Lưu và tiếp tục
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="list-prd-unit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Quản lý đơn vị tính</h4>
                </div>
                <div class="modal-body">
                    <div class="tabtable">
                        <ul class="nav nav-tabs tab-setting" role="tablist"
                            style="background-color: #EFF3F8; padding: 5px 0 0 15px;">
                            <li role="presentation" class="active list-unit-click" style="margin-right: 3px;"><a
                                    href="#list-unit" aria-controls="list-unit" role="tab" data-toggle="tab"><i
                                        class="fa fa-list"></i> Danh sách đơn vị tính</a></li>
                            <li role="presentation"><a href="#create-unit" aria-controls="create-unit" role="tab"
                                    data-toggle="tab"><i class="fa fa-plus"></i> Tạo mới đơn
                                    vị tính</a></li>
                        </ul>
                        <div class="tab-content" style="padding:10px; border: 1px solid #ddd; border-top: none;">
                            <div role="tabpanel" class="tab-pane active" id="list-unit">
                                <div class="prd_unit-body">
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="create-unit">
                                <div class="row form-horizontal">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="col-md-7">
                                                <input type="text" style="border-radius: 0 !important;"
                                                    class="form-control" id="prd_unit_name" value=""
                                                    placeholder="Nhập tên đơn vị tính">
                                            </div>
                                            <div class="input-groups-btn col-md-5">
                                                <button type="button" class="save btn btn-primary"
                                                    style="border-radius: 0 3px 3px 0;" onclick="cms_create_unit(1);"><i
                                                        class="fa fa-check"></i> Lưu
                                                </button>
                                                <button type="button" class="save btn btn-primary"
                                                    onclick="cms_create_unit(0);"><i class="fa fa-floppy-o"></i> Lưu và
                                                    tiếp tục
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="list-prd-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Quản lý danh mục</h4>
                </div>
                <div class="modal-body">
                    <div class="tabtable">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-setting" role="tablist"
                            style="background-color: #EFF3F8; padding: 5px 0 0 15px;">
                            <li role="presentation" class="active" style="margin-right: 3px;"><a href="#list-groups"
                                    aria-controls="list-group" role="tab" data-toggle="tab"><i class="fa fa-list"></i>
                                    Danh sách danh mục</a></li>
                            <li role="presentation"><a href="#create-groups" aria-controls="create-group" role="tab"
                                    data-toggle="tab"><i class="fa fa-plus"></i> Tạo mới danh mục</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="padding:10px; border: 1px solid #ddd; border-top: none;">
                            <div role="tabpanel" class="tab-pane active" id="list-groups">
                                <div class="prd_group-body">
                                    <div class="text-center"><img src="public/templates/images/balls.gif"></div>
                                </div>
                            </div>

                            <!-- Tab Function -->
                            <div role="tabpanel" class="tab-pane" id="create-groups">
                                <div class="row form-horizontal">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="col-md-4 text-right">
                                                <label>Tên danh mục</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="prd_group_name" class="form-control"
                                                    placeholder="Nhập tên danh mục.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4 text-right">
                                                <label>Danh mục cấp cha</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select id="parentid" class="form-control">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-4">
                                                <button type="button" class="save btn btn-primary"
                                                    style="border-radius: 0 3px 3px 0;" onclick="cms_create_group(1);">
                                                    <i class="fa fa-check"></i> Lưu
                                                </button>
                                                <button type="button" class="save btn btn-primary"
                                                    onclick="cms_create_group(0);"><i class="fa fa-floppy-o"></i> Lưu
                                                    và tiếp tục
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="save btn btn-default btn-sm btn-close" data-dismiss="modal"><i
                            class="fa fa-undo"></i> Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="orders">
        <div class="breadcrumbs-fixed panel-action">
            <div class="row">
                <div class="orders-act">
                    <div class="col-md-4 col-xs-12 col-md-offset-2">
                        <div class="left-action text-left clearfix">
                            <h2>Đơn hàng »</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 padd-0">
                        <div class="right-action text-right">
                            <div class="btn-groups">
                                <button type="button" class="save btn btn-primary" onclick="cms_save_orders(0)">
                                    <i class="fa fa-floppy-o"></i> Lưu tạm
                                </button>
                                <button type="button" class="save btn btn-primary" onclick="cms_save_orders(1)"><i
                                        class="fa fa-check"></i> Lưu
                                </button>
                                <button type="button" class="save btn btn-primary" onclick="cms_save_orders(2)"><i
                                        class="fa fa-print"></i> Lưu &amp; In
                                </button>
                                <button type="button" class="save btn-back btn btn-default"
                                    onclick="cms_javascript_redirect( cms_javascrip_fullURL() )"><i
                                        class="fa fa-arrow-left"></i> Hủy
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-space orders-space"></div>

        <div class="orders-content check-order">
            <div class="row">
                <div class="col-md-8">
                    <div class="order-search" style="margin: 10px 0px; position: relative;">
                        <input type="text" class="form-control ui-autocomplete-input"
                            placeholder="Nhập mã sản phẩm tên sản phẩm" id="search-pro-box" autocomplete="off">
                    </div>
                    <script>
                        $store_id = $('#store-id').val();
                        $(function () {
                            $("#search-pro-box").autocomplete({
                                minLength: 1,
                                source: 'orders/cms_autocomplete_products/' + 0 + '/' + $store_id,
                                focus: function (event, ui) {
                                    $("#search-pro-box").val(ui.item.prd_code);
                                    return false;
                                },
                                select: function (event, ui) {
                                    cms_select_product_sell(ui.item.ID, 0);
                                    $("#search-pro-box").val('');
                                    return false;
                                }
                            }).keyup(function (e) {
                                if (e.which === 13) {
                                    cms_autocomplete_enter_sell();
                                    $("#search-pro-box").val('');
                                    $(".ui-menu-item").hide();
                                }
                            })
                                .autocomplete("instance")._renderItem = function (ul, item) {
                                    return $("<li>")
                                        .append("<div>" + item.prd_code + " - " + item.prd_name + " - " + item.prd_sell_price + " - Tồn: " + item.quantity + "</div>")
                                        .appendTo(ul);
                                };
                        });
                    </script>
                    <div class="product-results">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center hidden-xs">STT</th>
                                    <th class="hidden-xs">Mã SP</th>
                                    <th class="text-left">Tên SP</th>
                                    <th class="hidden-xs">Vị trí</th>
                                    <th class="hidden-xs">Hình ảnh</th>
                                    <th class="text-center  hidden">Ngày hết hạn</th>

                                    <th class="text-center">SL</th>
                                    <th class="text-center hidden-xs">ĐVT</th>

                                    <th class="text-center">Đơn giá</th>
                                    <th class="text-center">Thành tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="pro_search_append">
                            </tbody>
                        </table>
                        <div class="alert alert-success hidden-xs" style="margin-top: 30px;" role="alert">Gõ mã tên sản
                            phẩm vào
                            hộp
                            tìm kiếm để thêm hàng vào đơn hàng
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="morder-info" style="padding: 4px;">
                                <div class="tab-contents" style="padding: 8px 6px;">
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Khách hàng</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <div class="col-md-12 padd-0" style="position: relative;display: flex">
                                                <input id="search-box-cys" class="form-control" autocomplete="off"
                                                    type="text" placeholder="Tìm khách hàng (F4)"
                                                    style="border-radius: 3px 0 0 3px !important;"><span
                                                    style="color: red; position: absolute; right: 34px; top:5px; "
                                                    class="del-cys"></span>

                                                <div id="cys-suggestion-box"
                                                    style="border: 1px solid #444; display: none; overflow-y: auto;background-color: #fff; z-index: 2 !important; position: absolute; left: 0; width: 100%; padding: 5px 0px; max-height: 400px !important;top:34px;">
                                                    <div class="search-cys-inner"></div>
                                                </div>

                                                <button type="button" data-toggle="modal" data-target="#create-cust"
                                                    class="save btn btn-primary"
                                                    style="border-radius: 0 3px 3px 0; box-shadow: none; padding: 6px 11px;">
                                                    +
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Ngày bán</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <input id="date-order" class="form-control datepk" type="text"
                                                placeholder="Hôm nay" style="border-radius: 0 !important;">
                                        </div>
                                        <script>$('#date-order').datetimepicker({
                                                autoclose: true
                                            });
                                        </script>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>NV bán hàng</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <select class="form-control" id="sale_id">
                                                <option selected="" value="1">Phong Trần</option>
                                                <option value="6">Nguyễn Văn Hải</option>
                                                <option value="7">fgvhbj</option>
                                                <option value="8">Abc</option>
                                                <option value="9">user</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Ghi chú</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <textarea id="note-order" cols="" class="form-control" rows="2"
                                                style="border-radius: 0;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <h4 class="lighter" style="margin-top: 0;">
                                <i class="fa fa-info-circle blue"></i>
                                Thông tin thanh toán
                                <button onclick="toggle_promotion()" class="hidden">Khuyến mãi</button>
                            </h4>

                            <div class="morder-info" style="padding: 4px;">
                                <div class="tab-contents" style="padding: 8px 6px;">
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Hình thức</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <div class="input-group">
                                                <input type="radio" class="payment-method" name="method-pay" value="1"
                                                    checked="">
                                                Tiền mặt &nbsp;
                                                <input type="radio" class="payment-method" name="method-pay" value="2">
                                                Thẻ &nbsp;
                                                <input type="radio" class="payment-method" name="method-pay" value="3">
                                                CK &nbsp;
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>VAT</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <select class="form-control" id="vat">
                                                <option value="0">0%</option>
                                                <option value="5">5%</option>
                                                <option value="10">10%</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Tiền hàng</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <div class="total-money">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Tổng SL</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <div class="total-quantity">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix hidden">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Giảm giá mỗi sp</label>
                                        </div>
                                        <div class="col-md-8 padd-0" style="display: flex;">
                                            <input type="text" class="form-control text-right txtMoney discount-item"
                                                placeholder="0" style="border-radius: 0 !important;">
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Giảm giá</label>
                                        </div>
                                        <div class="col-md-8 padd-0" style="display: flex;">
                                            <button onclick="cms_change_discount_order()" style="display: none;"
                                                class="toggle-discount-order btn btn-primary">vnđ
                                            </button>
                                            <button onclick="cms_change_discount_order()"
                                                class="toggle-discount-order btn btn-primary">%
                                            </button>
                                            <input type="text"
                                                class="toggle-discount-order form-control text-right discount-percent-order"
                                                placeholder="0" style="border-radius: 0 !important;">
                                            <input type="text"
                                                class="toggle-discount-order form-control text-right txtMoney discount-order"
                                                placeholder="0" style="display:none;border-radius: 0 !important;">
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Tổng cộng</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <div class="total-after-discount">
                                                0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label>Khách trả</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <input type="text" class="form-control text-right txtMoney customer-pay"
                                                placeholder="0" style="border-radius: 0 !important;">
                                        </div>
                                    </div>
                                    <div class="form-group marg-bot-10 clearfix">
                                        <div class="col-md-4 col-xs-4 padd-0">
                                            <label class="debt">Còn nợ</label>
                                        </div>
                                        <div class="col-md-8 col-xs-8 padd-0">
                                            <div class="debt">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 padd-0">
                            <div class="btn-groups pull-right" style="margin-bottom: 50px;">
                                <button type="button" class="save btn btn-primary" onclick="cms_save_orders(0)">
                                    <i class="fa fa-floppy-o"></i> Lưu tạm
                                </button>
                                <button type="button" class="save btn btn-primary" onclick="cms_save_orders(1)"><i
                                        class="fa fa-check"></i> Lưu
                                </button>
                                <button type="button" class="save btn btn-primary" onclick="cms_save_orders(2)"><i
                                        class="fa fa-print"></i> Lưu &amp; In
                                </button>
                                <button type="button" class="save btn-back btn btn-default"
                                    onclick="cms_javascript_redirect( cms_javascrip_fullURL() )"><i
                                        class="fa fa-arrow-left"></i> Hủy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
